body {
  background: #242424;
  background: linear-gradient(90deg, #242424 22%, #4e5153 83%); }

p {
  color: white;
  text-align: center;
  font-size: 20px; }

.tituloQuienesSomos {
  margin-top: 20px;
  color: #75a7a7;
  margin-left: 20px; }

.fotoQuienesSomos {
  color: rgba(195, 215, 215, 0.93);
  text-align: center;
  margin-top: 30px;
  text-decoration: solid; }

.fotoStaff {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%; }

.subtituloCurso {
  background-color: #645e5e;
  color: #dfd05d;
  width: 40%;
  border-radius: 10px;
  margin-top: 20px;
  font-size: xx-large;
  margin-left: 10px; }

.textoCachorros, .fotoStaff .textoQuienesSomos, .textoEducacion {
  margin-left: 10px;
  margin-right: 10px; }

.tituloEducacion {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;
  color: whitesmoke;
  background-color: #262836;
  border-radius: 13px;
  width: 40%;
  margin-left: 15px; }

.textoEducacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px; }

.educarPerro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #36554b;
  color: whitesmoke;
  width: 50%;
  margin-top: 40px;
  border-radius: 13px;
  margin-left: 20px; }

.subTituloEducar {
  margin-top: 10px;
  color: #0a0000;
  background-color: #223841;
  color: whitesmoke;
  width: 30%;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px; }

.mascotas {
  color: #b5aeae;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  width: 100%;
  text-align: center;
  margin-left: 10px; }

.containerTexto {
  max-width: 100%;
  width: 100%;
  margin-left: 10px; }

.imagenesMascotas {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center; }

.imagenesMascotasDos {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center; }

.caourselIndex {
  margin-top: 20px;
  margin-bottom: 20px; }

.texto {
  background-color: #b6aeae;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 100%;
  width: 100%;
  font-size: 40px;
  text-align: center; }

.videoPerro {
  margin-top: 10px;
  text-align: center; }

.whatsapp {
  position: fixed;
  bottom: 70px;
  right: 0;
  max-width: 100%;
  height: 28px;
  right: 10px; }

.tituloContacto {
  color: whitesmoke;
  margin-top: 10px;
  text-align: center;
  background-color: #4a4949;
  height: 70px;
  padding: 15px;
  width: 100%; }

.subtituloContacto {
  color: whitesmoke;
  margin-top: 20px; }

.contactoTexto {
  color: #a18989;
  text-decoration: none;
  font-size: large; }

.contactoInfo {
  color: #c3bebe;
  margin-top: 40px; }

.formulario {
  margin-top: 40px;
  margin-bottom: 130px; }

.tituloFormulario {
  color: white;
  text-decoration: underline; }

.nombreFormulario {
  color: white; }

.emailFormulario {
  color: white; }

.paisFormulario {
  color: white; }

.mascotaFormulario {
  color: white; }

.perro {
  color: white; }

.gato {
  color: white; }

footer {
  color: whitesmoke;
  text-align: center;
  background-color: #6b6759; }

footer h5 {
  font-size: smaller; }

.piePagina {
  width: 100%; }

.piePagina .grupoUno {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1px 0px; }

.piePagina .grupoUno .box h5 {
  color: whitesmoke;
  margin-top: 1px; }

.piePagina .grupoUno .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  line-height: 20px;
  color: whitesmoke;
  background-color: #565674;
  text-align: center;
  transition: all 300ms ease; }

.piePagina .grupoUno .redSocial a:hover {
  color: yellow; }

@media only screen and (max-width: 480px) {
  .piePagina .grupoUno {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1px 0px; }
  .imagenesMascotas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; }
  .imagenesMascotasDos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; }
  .video {
    width: 95%;
    margin-left: 10px; }
  .texto {
    font-size: 25px;
    width: 100%; }
  footer h5 {
    font-size: small; }
  .whatsapp {
    max-width: 100%;
    height: 25px; }
  .subTituloEducar {
    width: 60%; }
  .educarPerro {
    width: 70%; }
  .tituloEducacion {
    width: 90%; }
  .subtituloCurso {
    font-size: 23px;
    width: 80%; }
  .fotoStaff {
    display: none; } }

@media only screen and (max-width: 1024px) and (min-width: 1024px) {
  .texto {
    font-size: 30px;
    width: 100%; }
  .perroUno {
    width: 60%; }
  .perroDos {
    width: 60%; }
  .perroTres {
    width: 60%; }
  .perroCuatro {
    width: 60%; }
  .videoPerro {
    justify-content: center;
    text-align: center; }
  .whatsapp {
    max-width: 100%;
    height: 20px; }
  .subTituloEducar {
    width: 50%; }
  .educarPerro {
    width: 40%; }
  .tituloEducacion {
    width: 60%; }
  .subtituloCurso {
    width: 50%; }
  .staff {
    width: 80%; } }

@media only screen and (max-width: 1280px) {
  .texto {
    text-align: center; } }
