body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 8%, rgba(9,19,128,1) 36%, rgba(9,9,121,1) 53%, rgba(0,212,255,1) 96%);
    
    }

    footer{
        color: rgb(246, 242, 237);
       text-align: center;
        position: fixed;
        bottom: 0;
        width: 95%;
        background-color: bisque;
        color: black;
        
    }

    .whatsapp{
        height: 10px;
        position: fixed;
        bottom: 0 ;
        right: 0;
    }

    .texto{
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .texto2{
        color: rgb(1, 21, 25);
        font-weight: bold;
        -webkit-text-stroke: 0.2px rgb(87, 3, 254);
        
    }

   