*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



.menu{
    background-color: rgb(248, 242, 234);
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    
    }

.menu li{
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px;
    margin: 7px;
    text-transform: uppercase;
    border-radius: 100px;
    border: 3px solid rgb(89, 0, 255);
    
}

.menu li a{
    color: white;
    text-decoration: none;
}

.mainIndex{
    height: 70vh;
    display: grid;
    grid-template-areas: "imagenPerro"
                         "texto "
                         "videoPerro ";
                          
    justify-content: center;
}


.videoPerro{
    text-align: center;
    margin-top: 20px;
    grid-area: videoPerro;
    
}

.imagenPerro{
    text-align: center;
    height: 230px;
    margin-top: 50px;
    grid-area: imagenPerro;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.whatsapp{
    height: 50px;
    position: fixed;
    bottom: 0 ;
    right: 0;
}

.texto{
    text-align: justify;    
    color: antiquewhite;
    grid-area: texto;
    margin-top: 20px;
}

body{
    background-image: url('../img/fondoperro.jpg')
    
    }

    footer{
        color: rgb(246, 242, 237);
       text-align: center;
        position: fixed;
        bottom: 0;
        width: 95%;
        background-color: bisque;
        color: black;
        
    }

    .contacto{
        text-align: center;
        background-color: rgb(246, 224, 195);
    }

    .mascotaelite{
        text-align: center;
        background-color: rgb(246, 224, 195);
    }

    .educacion{
        text-align: center;
        background-color: rgb(246, 224, 195);
    }

    .quienesSomos{
        text-align: center;
        background-color: rgb(246, 224, 195);
    }

    .cursos {
        text-align: center;
        background-color: rgb(246, 224, 195);
    }

    .formulario{
        border: 3px solid rgb(143, 143, 243);
        margin-top: 30px;
        padding: 10px;
    }
.textoCursos{
    text-align: center;
    margin-top: 100px;
    color: rgb(12, 12, 12);
    background-color: rgb(194, 143, 76);
    }

.textoEducacion{
    text-align: center;
    margin-top: 100px;
    color: rgb(12, 12, 12);
    background-color: rgb(194, 143, 76);
}

.textoQuienesSomos{
    text-align: center;
    margin-top: 100px;
    color: rgb(12, 12, 12);
    background-color: rgb(194, 143, 76);
}


@media only screen and (min-width:600px){

    .mainIndex{
        height: 70vh;
        display: grid;
        grid-template-areas: "imagenPerro "
                             "texto "
                             "videoPerro ";

 }
  
 .menu ul li a{
     font-size: 0.8rem;
 }

.texto{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.textoEducacion{
    font-size: 1.3rem;
}

.textoQuienesSomos{
    font-size: 1.3rem ;
}

.textoCursos{
    font-size: 1.3rem;
}



footer{
    width: 90%;
}
}

@media only screen and (min-width:1024px){

    .mainIndex{
        height: 10vh;
        display: grid;
        grid-template-areas: "imagenPerro "
                             "texto "
                             "videoPerro ";
}
    
.menu ul li a{
    font-size: 1rem;
}

.imagenPerro{
    height: 70%;
}
.texto{
    font-size: 1.3rem;
    color: rgb(109, 3, 3);
    font-weight: bold;
    margin-top: -50px;
}

.videoPerro{
    height: 30%;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    
}


footer{
    width: 95%;
margin-top: 10px;


}
}


    