body {
  background: #242424;
  background: linear-gradient(90deg, #242424 22%, #4e5153 83%); }

p, .textoAdicionalCurso {
  color: white;
  text-align: center;
  font-size: 20px; }

.textoAdicionalCurso {
  background-color: #181818;
  margin-top: 20px; }

.textoEducacion {
  display: flex;
  flex-direction: row;
  justify-content: center; }

footer {
  color: whitesmoke;
  text-align: center;
  background-color: grey; }

.mainIndex {
  height: 70vh;
  display: grid;
  grid-template-areas: "imagenPerro" "texto " "videoPerro " "footer";
  text-align: center; }

.whatsapp {
  position: absolute;
  bottom: 0;
  right: 0; }
