@import "utilities/variables";



body{
    background: rgb(36,36,36);
    background: linear-gradient(90deg, rgba(36,36,36,1) 22%, rgba(78,81,83,1) 83%);
}

p{
    color: map-get($texto,color);
    text-align: map-get($texto,centro);
    font-size: map-get($texto,fuente);
}


//QuienesSomos

.tituloQuienesSomos{
    margin-top: 20px;
    color: rgb(117, 167, 167);
    margin-left: 20px;

}

.fotoQuienesSomos{
    color: rgba(195, 215, 215, 0.93);
    text-align: center;
    margin-top: 30px;
    text-decoration:solid;
}

.fotoStaff{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}



//Cursos

.subtituloCurso{
    background-color: rgb(100, 94, 94);
    color: rgb(223, 208, 93);
    width: 40%;
    border-radius: 10px;
    margin-top: 20px;
}

.textoAdicionalCurso{
    @extend p;
    background-color: rgb(24, 24, 24);
    margin-top: 20px;
}



//Educacion
.tituloEducacion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    background-color: green;
   border-radius: 13px;
   width: 40%;
   margin-left: 20px
    }

.textoEducacion{
    @include flex-row-center;
    margin-top: 40px;
    
}

.educarPerro{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    width: 50%;
    margin-top: 40px;
    border-radius: 13px;
    margin-left: 20px;
}

.subTituloEducar{
    margin-top: 10px;
    color: rgb(10, 0, 0);
    background-color: skyblue;
    width: 30%;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}










//index

.mascotas{
    color: rgb(181, 174, 174);
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-left: 10px;
    
}

.containerTexto{
    max-width: 100%;
    width: 100%;
    margin-left: 10px;
}

.imagenesMascotas{
    display: flex;
   flex-direction: row;
   margin-top: 20px;

   justify-content: center;
}

.imagenesMascotasDos{
    display: flex;
   flex-direction: row;
   
   margin-bottom: 20px;
   justify-content: center;
}

.caourselIndex{
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto{
    background-color: rgb(182, 174, 174);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
    width: 100%;
    font-size: 40px;
    text-align: center;
    
}



.videoPerro{
    margin-top: 10px;
    text-align: center;
    
}

.whatsapp{
    
    position: fixed;
    bottom: 50px;
    right: 0;
    max-width: 100%;
    height: 40px;
    right: 10px;
   

}



//Contacto


.tituloContacto{
    color: whitesmoke;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(74, 73, 73);
    height: 70px;
    padding: 15px;
    width: 100%;
}

.subtituloContacto{
    color: whitesmoke;
    margin-top: 20px;
}

.contactoTexto{
    color: rgb(161, 137, 137);
    text-decoration: none;
    font-size: large;
}

.contactoInfo{
    color: rgb(195, 190, 190);
    margin-top: 40px;
}

.formulario{
    margin-top: 40px;
    margin-bottom: 130px;
}

.tituloFormulario{
    color: white;
    text-decoration: underline;
}

.nombreFormulario{
    color: white;
}

.emailFormulario{
    color: white;
}

.paisFormulario{
    color: white;
}

.mascotaFormulario{
    color: white;
}

.perro{
    color: white;
}

.gato{
    color: white;
}

//footer

footer{
    color: whitesmoke;
    text-align: center;
    background-color: rgb(181, 107, 34);
    
  

}

footer h5{
    font-size: smaller;
}

.piePagina{
    width: 100%;
    
}

.piePagina .grupoUno{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1px 0px;
    
}

.piePagina .grupoUno .box h5{
    color: whitesmoke;
    margin-top: 1px;
}

.piePagina .grupoUno .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    line-height: 20px;
    color: whitesmoke;
    background-color: rgb(86, 86, 116);
    text-align: center;
    transition: all 300ms ease;

}

.piePagina .grupoUno .redSocial a:hover{
    color: yellow;
}

@media only screen and (max-width:480px){

    .piePagina .grupoUno{
        width: 100%;
      
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1px 0px;
        
    }
    //index

.imagenesMascotas{
     display: flex;
     flex-direction: column;
    justify-content: center;
margin-left: 10px;}

.imagenesMascotasDos{
    display: flex;
    flex-direction: column;
   justify-content: center;
margin-left: 10px;}

    
    .video{
        width: 95%;
        margin-left: 10px;

    }
    .texto{
        font-size: 25px;
        width: 100%;
        }

    footer h5{
        font-size: small;
    }

    .whatsapp{
        max-width: 100%;
        height: 25px;
    }
//Educacion
    .subTituloEducar{
        width: 60%;
    }

    .educarPerro{
        width: 70%;
    }
    .tituloEducacion{
        width: 90%;
    }

    //Cursos

    .subtituloCurso{
        font-size: 23px;
        width: 80%;
    }

  

    //QuienesSomos

    .fotoStaff{
        display: none;}

}

    


@media only screen and (max-width:1024px) and (min-width:1024px){
    .texto{
        font-size: 30px;
        width: 100%;
 }

 //fotosIndex

 .perroUno{
     width: 60%;
 }
 
 .perroDos{
     width: 60%;
 }

 .perroTres{
     width: 60%;
 }

 .perroCuatro{
     width: 60%;
 }

 


 
.videoPerro{
    justify-content: center;
    text-align: center;
}

 
     
.whatsapp{
    max-width: 100%;
    height: 20px;

}



//Educacion
.subTituloEducar{
    width: 50%;
}
.educarPerro{
    width: 40%;
}

.tituloEducacion{
    width: 60%;
}

//Curso

.subtituloCurso{
    width: 50%;
}

//QuienesSomos

.staff{

    width: 80%;
    

}

}



@media only screen and (max-width:1280px){
    //QuienesSomos

    .texto{
        text-align: center;
    }


}

@media only screen and (max-width:1920px){
    //QuienesSomos
    
    
}



